
.allWorkouts{
  margin: 10px;
  display: flex;
  width: 64px;
  height: auto;
  text-decoration: none;
  flex-direction: column;

}
.cardtitle{
  text-transform: uppercase;
  margin: 20px;
  text-align: center;
  font-size: 25px;
}
.oneWorkout{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  margin: 30px;
  display: flex;
}
.imgcard{
  
    width:  400px;
    height: 250px;
    
    object-fit: fill;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.workout-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}
.counter{
  margin-left: 10px;
}
.pagination {

  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color:black;
  border-color: #eee;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }