
ul.pagination {
  list-style: none;
  display: flex; 
  justify-content: center;  
  align-items: center;  
  margin: 0;
  padding: 0;
}

ul.pagination > li {
  padding: 15px;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color:black;
  border-color: #eee;
}
.card-deck {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  flex: 1 0 auto;
}
.modal {
  max-width: 300px;
  margin: 50px auto;
  background-color: #e1dee9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modal-form h2 {
  text-align: center;
  color: #934683;
}
.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #b6a6ca;
  border-radius: 4px;
  box-sizing: border-box;
}
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #b6a6ca;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;  
  color: #000;  
  appearance: none; 
}

.input-group select:hover {
  border-color: #934683;  
}
 
.input-group select:focus {
  outline: none; 
  border-color: #934683;  
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.options label {
  color: #934683;
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }